@model TodoList.Models.Media

@{
    ViewBag.Title = "Yeni Medya";
}

<h2>Oluştur</h2>


@using (Html.BeginForm("Create", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Medya</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Extension)
        

        <div class="form-group">
            <label class="control-label col-md-2">Dosya:</label>
            <div class="col-md-10">
                <input type="file" name="upload" id="upload" required />
            </div>
        </div>

      
                @Html.HiddenFor(model => model.FileSize)
                @Html.HiddenFor(model => model.Year, new {@Value=Model.Year.ToString(DateTime.Now.Year.ToString())} )
                @Html.HiddenFor(model => model.Month, new {@Value = Model.Year.ToString(DateTime.Now.Month.ToString()) })
               
        @Html.HiddenFor(model => model.CreateDate)

        @Html.HiddenFor(model => model.CreatedBy)

        @Html.HiddenFor(model => model.UpdateDate)

        @Html.HiddenFor(model => model.UpdatedBy)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
